.logcont{
  background: linear-gradient(90deg, #dbeafe, #ede9fe, #fce7f3);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.login-container h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.login-container input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom:20px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.login-container button {
  width: 100%;
  padding: 0.75rem;
  background-color: #10b981;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #059669;
}

.login-container p {
  text-align: center;
  margin-top: 1rem;
}

.login-container a {
  color: #3b82f6;
  text-decoration: none;
}

.login-container a:hover {
  text-decoration: underline;
}
